<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./static/css/styles.css" />
    <script type="text/javascript" src="./static/js/paper-full.min.js"></script>
    <script type="text/javascript">
        paper.install(window);
        window.onload = () => {
            paper.setup("mainCanvas");
            let tool = new Tool();
            let myPath;

            tool.onMouseDown = (event) => {
                myPath = new Path();
                myPath.strokeColor = 'black';
            }

            tool.onMouseDrag = (event) => {
                myPath.add(event.point);
            }
        }

        let saveContents = () => {
            let contents = paper.project.exportJSON();
            let prom = fetch(`http://127.0.0.1:8000`, {
                method: 'POST',
                body: JSON.stringify(contents)
            });
            prom.then((res) => {
                if (res.ok) {
                    res.json().then((body) => {
                        let id = body["id"];
                        window.history.replaceState(null, "", id);
                    })
                }
            })

        }
    </script>
</head>

<body>
    <canvas id="mainCanvas" resize></canvas>
    <button onclick="saveContents()">Press</button>
</body>

</html>