<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./static/css/styles.css" />
    <script type="text/javascript" src="./static/js/paper-full.min.js"></script>
    <script type="text/javascript">
        function saveContents() {
            let contents = paper.project.exportJSON();
            fetch(`http://127.0.0.1:8000${window.location.pathname}`, {
                method: 'POST',
                body: JSON.stringify({ 'id': window.location.pathname.replace("/", ""), 'content': contents }),
                headers: {
                    "Content-Type": "application/json"
                }
            })
        }

        paper.install(window);
        window.onload = () => {
            fetch(`http://127.0.0.1:8000/load${window.location.pathname}`, {
                method: 'GET',
                headers: {
                    "Content-Type": "application/json"
                }
            }).then((res) => {
                if (res.ok) {
                    return res.json()
                }
            }).then((project) => {
                let p = JSON.parse(project["content"])
                paper.project.importJSON(p);
            });

            paper.setup("mainCanvas");
            let tool = new Tool();
            let myPath;

            tool.onMouseDown = (event) => {
                myPath = new Path();
                myPath.strokeColor = 'black';
            }

            tool.onMouseDrag = (event) => {
                myPath.add(event.point);
            }
        }
    </script>
</head>

<body>
    <canvas id="mainCanvas" resize></canvas>
    <button onclick="saveContents()">Press</button>
</body>

</html>