<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./static/css/styles.css" />
    <script type="text/javascript" src="./static/js/paper-full.min.js"></script>
    <script type="text/javascript">
        let origin = window.location.origin;
        let serializer = new XMLSerializer();
        
        function saveContents() {
            let contents = paper.project.exportJSON();
            let svg = paper.project.exportSVG({"asString": true});
            fetch(`${origin}${window.location.pathname}`, {
                method: 'POST',
                body: JSON.stringify({ 'id': window.location.pathname.replace("/", ""), 'content': contents, 'image': svg }),
                headers: {
                    "Content-Type": "application/json"
                }
            })
        }

        paper.install(window);
        window.onload = () => {
            fetch(`${origin}/load${window.location.pathname}`, {
                method: 'GET',
                headers: {
                    "Content-Type": "application/json"
                }
            }).then((res) => {
                if (res.ok) {
                    return res.json()
                } else {
                    return null;
                }
            }).then((project) => {
                if (project !== null) {
                    let p = JSON.parse(project["content"])
                    paper.project.importJSON(p);
                }
            }).finally(() => {
                project.currentStyle = {
                    strokeColor: '#000000',
                    fillColor: 'transparent',
                    strokeWidth: 1
                }
            });

            paper.setup("mainCanvas");
            let tool = new Tool();
            let myPath;

            let IN_IFRAME = window.location !== window.parent.location

            if (!IN_IFRAME) {
                tool.onMouseDown = (event) => {
                    myPath = new Path();
                    myPath.strokeColor = 'black';
                }

                tool.onMouseDrag = (event) => {
                    myPath.add(event.point);
                }
            } else {
                document.getElementsByClassName("sidebar")[0].style.display = "none"
            }
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <button onclick="saveContents()">Save</button>
            <button onclick="saveContents()">Undo</button>
            <button onclick="saveContents()">Redo</button>
            <button onclick="saveContents()">Draw</button>
            <button onclick="saveContents()">Erase</button>
        </div>
        <canvas id="mainCanvas" resize></canvas>
    </div>
</body>

</html>